body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

#navbar {
    background-color: #dbc2db;
    align-items: center;
    display: flex;
    width: 100%;
}

#img-navbar {
    width: 50px; 
    height: 50px;
    margin: 1px;
    padding-left: 10px;
    cursor: pointer;
}

#titulo-navbar {
    font-size: 20px;
    display:inline;
    margin: 20px;
}

#busca {
    margin-left: auto;
    order: 2;
    padding: 20px;
}

.icon-busca {
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin-left: 4px;
}

#div-inicial {
    display: inline-flex;
    margin-left: 20px;
    padding: 5px;
    align-items: center;
}

h3 {
    margin-right:15px;
}

#btn-mostrar {
    background-color: #dbc2db;
    border: none;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

#div-adicionar {
    display: none;
    border: 2px solid #dbc2db;
    padding: 5px 20px 20px;
    margin: auto;
    width: 310px;
}

#div-editar {
    display: none;
    border: 2px solid #dbc2db;
    padding: 5px 20px 20px;
    margin: auto;
    width: 310px;
}

#div-busca-avancada {
    display: none;
    border: 2px solid #dbc2db;
    padding: 5px 20px 20px;
    margin: auto;
    width: 310px;
}

#busca-avancada {
    margin-left: auto;
    order: 2;
    padding: 5px;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
} 

#ajuda {
    display: inline-block;
}

#icon-ajuda {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #dbc2db;
    border: none;
    border-radius: 50%;
    padding: 2px;
}

#texto-ajuda {
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: #dbc2db;
    visibility: hidden;
    transition: width .5s;
    font-size: small;
}

#ajuda:hover #texto-ajuda {
  visibility: visible;
}

.btn-formulario {
    background-color: #dbc2db;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 30px;
    font-weight: bold;
    float: right;
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 2px dashed #dbc2db;
    text-align: center;
    width: 200px;
    height: 380px;
}

.capa {
    width: 9em;
    height: 13em;
}

.icone {
    width: 1em;
    height: 1em;
    cursor: pointer;
}

#loading {
    margin: auto;
    display: block;
}

#infos-adicionais {
    display: none;
}